.nav {
    display: flex;
    flex-flow: row;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.logo {
    flex-basis: 20%;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.logo img {
    width: 30%;
}

.nav-links {
    width: 100%;
    font-size: 18px;
    flex-basis: 80%;
    margin-right: 3rem;
    text-align: right;
    padding-top: 3rem;
}

.nav-links a {
    margin-right: 1.5rem;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    color: rgba(128, 128, 128, 0.534);
}

.nav-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #FFBA01;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-links a:hover::before {
    transform-origin: right;
    transform: scaleX(1);
}

.nav-links a:hover {
    color: black;
}