.proyect {
    height: 600px;
    padding-top: 2rem;
}

.proyect h5 {
    text-align: center;
    color: rgba(128, 128, 128, 0.39);
    margin-bottom: 3rem;
}

.info-comic,
.info-content,
.info-proyect {
    flex-basis: 30%;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.36);
    text-align: center;
    padding: 1rem 15px;
    border-radius: 1rem;
    border: 3px solid #ffba01;
}

.info-comic h1,
.info-content h1,
.info-proyect h1 {
    margin-bottom: 1rem;
}

.proyect p {
    color: gray;
}

.proyect .flex {
    justify-content: space-evenly;
}


.info-content:hover .icon-content,
.info-comic:hover .icon-comic,
.info-proyect:hover .icon-proyect {
    transform: rotatey(360deg);
    transition: all 0.65s;
}

.circle {
    margin: auto;
    width: 60px;
    height: 60px;
    background-color: rgb(197, 197, 197);
    padding: 4px 0px;
    border-radius: 2rem;
    border: 3px solid #ffba01;
    margin-bottom: 2rem;
    margin-top: 1rem;
}